.property {
    padding: 1rem;
    padding-top: calc(1rem + 80px);
    max-width: 1200px;
    margin: 0 auto;
}

/* leaflet */
.leaflet-container {
    height: 400px;
    width: 100%;
    border-radius: 20px;
    margin: 0 auto;
    z-index: 0 !important;
}