.host {
    padding: 1rem;
    padding-top: calc(1rem + 80px);
    width: 100%;
    height: 100vh;
}

/* leaflet map */
.host .leaflet-container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.host .leaflet-popup-content {
    margin: 10px;
}