* {
    scroll-behavior: smooth;
}

/* class styles */
.custom-container {
    /* padding: 1rem; */
    width: 100%;
}

h1 {
    font-size: 32px;
    font-weight: 600;
}

/* for cleaner loading in listings page */
body.hide-all-scrollbars-loading::-webkit-scrollbar {
    width: 0px;
}