* {
    scroll-behavior: smooth;
    scroll-padding-top: calc(1rem + 80px);
}

/* class styles */
.custom-container {
    /* padding: 1rem; */
    width: 100%;
}

h1 {
    font-size: 32px;
    font-weight: 600;
}

h2 {
    font-size: 24px;
    font-weight: 600;
}

/* for cleaner loading in listings page */
body.hide-all-scrollbars-loading::-webkit-scrollbar {
    width: 0px;
}